<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8" />
	<title>{{ mainTitle }} - {{ title }}</title>
        <link type="text/css" rel="stylesheet" href="slidey/css/style.css" />
        <link type="text/css" media="print" rel="stylesheet" href="slidey/css/print.css" />
        <link rel="shortcut icon" href="favicon.ico" />
	<script type="text/javascript" src="slidey/js/jquery.js"></script>
        <script type="text/javascript" src="slidey/js/slidey.js"></script>
        {% for sheet in css %}
            <link type="text/css" media="screen" rel="stylesheet" href="{{ sheet }}" />
        {% endfor %}
    </head>
    <body>
	<div class="slideMode">
	    <a href="javascript:void(0)" class="slideModeNormal slideModeEnabled"></a>
	    <a href="javascript:void(0)" class="slideModeSlide"></a>
	    <a href="index.html" class="goHome"></a>
	</div>

	<div class="menu">
	</div>

	<div class="contents">
	    <div class="slide middleSlide">
                <h1>
                    {{ title }}
                </h1>
	    </div>

            {% block contents %}{% endblock %}
	</div>
        {{ browser|raw }}
        {{ footer|raw }}
    </body>
</html>
